<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/client.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <!-- Desktop Navbar -->
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg d-none d-lg-block">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="~/img/logo-dark.svg" alt="logo" width="140px">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Ana sayfa
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Profil
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex" role="search">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="#" class="btn btn-outline-primary" type="submit">
                            Giriş yap
                        </a>
                        <a href="#" class="btn btn-outline-primary" type="submit">
                            Üye ol
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Mobile Navbar -->
        <nav class="navbar navbar-dark bg-dark fixed-bottom navbar-expand-md d-lg-none d-block">
            <div class="container-fluid  d-flex justify-content-center">
                <button type="button" class="btn btn-dark" style="width: 33%;">
                    <img src="~/img/home.svg" alt="logo" width="30px">
                </button>
                <button type="button" class="btn btn-dark" style="width: 33%;">
                    <img src="~/img/user.svg" alt="logo" width="30px">
                </button>
                <button type="button" class="btn btn-dark" style="width: 33%;">
                    <img src="~/img/logout.svg" alt="logo" width="30px">
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
